/* General Styles */
body {
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
	background: url('../img/background.png');
	color: #1A1A1A;
}

a:link, a:visited {
	color: #642019;
	text-decoration: none;
}
a:hover, a:active {
	color: #5c3566;
}

.clear { clear: both; }

ol, ul {
	margin-bottom: 0;
	padding-bottom: 1em;
}

form {
	margin: 0;
}

ol.form {
	font-size: 1.5em;
}

ol.form li {
	list-style: none;
	clear: left;
	padding-bottom: 0.5em;
	font-style: italic;
}
ol.form li.required label {
	font-weight: bold;
}
ol.form label {
	width: 13em;
	display: block;
	float: left;
	font-style: normal;
}
ol.form ul.errorlist {
	padding: 0;
}
ol.form ul.errorlist li {
	border: 1px solid #642019;
	background-color: #a35c55;
	color: white;
	padding: 0.1em;
}
div.suggestions {
	z-index: 9999;
	background: #c0dd82;
	border: 1px solid #a1ab74;
}
div.suggestions ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
div.suggestions ul li {
	padding: 4px;
	cursor: pointer;
}
div.suggestions li span {
	font-weight: bold;
}
div.suggestions li.selected {
	background: #8b536f;
	color: white;
}

div.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

/* Buttons based on the super awesome buttons: http://www.zurb.com/article/266/super-awesome-buttons-with-css3-and-rgba */
a.button, input.button {
	font-size: 1.1em;
	display: inline-block;
	padding: 5px 10px 6px;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border: 0;
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	background: #8b536f url('../img/alert-overlay.png') repeat-x 0 0;
	color: white;
}
.button:hover {
	background-color: #5c3566;
}

/* BEGIN Sprites */
span.sprite {
	display: inline-block;
	height: 16px;
	width: 16px;
	background: transparent url('../img/sprites.png') no-repeat 16px 0;
	vertical-align: middle;
	margin-right: 2px;
	overflow: hidden;
	text-indent: 20px;
}

span.sprite.profile {
	background-position: 0 0;
}
a span.sprite.profile {
	background-position: -16px 0;
}
a:hover span.sprite.profile {
	background-position: 0 0;
}

span.sprite.logout {
	background-position: 0 -16px;
}
a span.sprite.logout {
	background-position: -16px -16px;
}
a:hover span.sprite.logout {
	background-position: 0 -16px;
}

span.sprite.add {
	background-position: 0 -32px;
}
a span.sprite.add {
	background-position: -16px -32px;
}
a:hover span.sprite.add {
	background-position: 0 -32px;
}

span.sprite.account {
	background-position: 0 -48px;
}
a span.sprite.account {
	background-position: -16px -48px;
}
a:hover span.sprite.account {
	background-position: 0 -48px;
}

span.sprite.mobile {
	background-position: 0 -64px;
}
a span.sprite.mobile {
	background-position: -16px -64px;
}
a:hover span.sprite.mobile {
	background-position: 0 -64px;
}

span.sprite.tag {
	background-position: 0 -80px;
}
a span.sprite.tag {
	background-position: -16px -80px;
}
a:hover span.sprite.tag {
	background-position: 0 -80px;
}

span.sprite.transaction_edit {
	background-position: 0 -96px;
}
a span.sprite.transaction_edit {
	background-position: -16px -96px;
}
a:hover span.sprite.transaction_edit {
	background-position: 0 -96px;
}

span.sprite.delete {
	background-position: 0 -112px;
}
a span.sprite.delete {
	background-position: -16px -112px;
}
a:hover span.sprite.delete {
	background-position: 0 -112px;
}

span.sprite.comment {
	background-position: 0 -128px;
}
a span.sprite.comment {
	background-position: -16px -128px;
}
a:hover span.sprite.comment {
	background-position: 0 -128px;
}
/* END Sprites */

/* BEGIN Boxes */
.box {
	max-width: 1150px;
	position: relative;
	margin: 0 auto 0.5em 41px;
}
.box .content {
	padding-right: 28px;
	position: relative;
	min-height: 40px;
}
.box .content h2, .box .content h3, .box .content h4 {
	margin-top: 0;
	padding-top: 10px;
}
.box .content, .box .t, .box .b, .box .b div {
	background: transparent url('../img/boxes/box-grey.png') no-repeat top right;
}
.box.green .content, .box.green .t, .box.green .b, .box.green .b div {
	background-image: url('../img/boxes/box-green.png');
}
.box .t {
	background-position: top left;
	height: 100%;
	left: 0;
	margin-left: -40px;
	position: absolute;
	width: 40px;
}
.box .b, .box .b div {
	font-size: 2px;
	height: 44px;
}
.box .b {
	background-position: right bottom;
	position: relative;
	width: 100%;
}
.box .b div {
	background-position: bottom left;
	margin-left: -40px;
	width: 40px;
	position: relative;
}

/* small */
.box.small {
	margin-left: 26px;
}
.box.small .content, .box.small .t, .box.small .b, .box.small .b div {
	background-image: url('../img/boxes/box-grey-s.png');
}
.box.green.small .content, .box.green.small .t, .box.green.small .b, .box.green.small .b div {
	background-image: url('../img/boxes/box-green-s.png');
}
.box.small .content {
	padding-right: 20px;
	min-height: 30px;
}
.box.small .t, .box.small .b div {
	margin-left: -26px;
	width: 26px;
}
.box.small .b, .box.small .b div {
	height: 30px;
}
/* END Boxes */

/* BEGIN Tables */
#content table {
	font-size: 1.2em;
	margin: 0.4em 0 0 0;
}
#content table.transactions {
	width: 100%;
	border: 2px solid #d9d9d9;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
#content thead th {
	font-size: 1.5em;
	border-top: 0;
	border-bottom: 0;
}
#content th {
	background: #DFDFDF;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
#content td, th {
	padding: 0.2em 0.4em;
}
#content table tr.odd {
	background-color: #e9e6dc;
}
#content table tr.even {
	background-color: #dee7b4;
}
#content table.transactions td.payee {
	font-size: 1.2em;
}
#content table.transactions td.payee div.tags {
	margin: 4px 0 0 32px;
	font-size: 0.7em;
	color: #8f8f8f;
}
#content table.transactions td.payee div.tags span.sprite {
	margin-right: 0;
}
#content table.transactions tbody th.date {
	text-align: left;
	font-size: 1.5em;
	font-weight: normal;
}
#content table.transactions tr.transaction_form td { vertical-align: top; }
#content table.transactions tr.transaction_form div.credit ul { margin: 0; padding: 0; }
#content table.transactions tr.transaction_form div.credit ul li { display: inline; }
#content table.transactions tr div.actions { width: 16px; float: left; margin-left: -9999px; }
#content table.transactions tr:hover div.actions { display: block; margin: 0 -16px 0 0; }
#content table td.money { text-align: right; font-weight: bold; color: #4d4d4d; }
#content table td.money.in { color: #7CAF62; }
/* END Tables */

/* BEGIN Header */
#header {
	position: relative;
}
#header .main {
	padding-top: 0.8em;
	border-bottom: 4px solid #c0dd82;
	background: #b5bd92 url(../img/header-bg.png) repeat-x;
}

h1 {
	width: 250px;
	height: 52px;
	font-size: 4em;
	margin: 0 0 0.1em 0.2em;
	background: transparent url(../img/logo.png) no-repeat top left;
}
h1 span {
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
}

#userbox {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.8em;
	font-size: 1.2em;
	text-align: right;
	width: 40%;
}
#userbox img {
	float: right;
	max-height: 40px;
	border: 2px solid #1a1a1a;
	margin-left: 1em;
}
#userbox p {
	margin: 0;
}
#userbox ul {
	margin: 0;
	padding: 0;
}
#userbox ul li {
	display: inline;
	list-style: none;
	margin-left: 0.4em;
}
#userbox ul li a {
	font-weight: bold;
}
/* END Navigation */

/* BEGIN Navigation */
#nav {
	font-size: 1.5em;
	margin: -4px 0 0 2em;
	float: left;
	height: 26px;
	position: relative;
	z-index: 100;
}
#nav ul {
	margin: 0 0 0 34px;
	padding: 0;
	list-style: none;
	display: inline;
	vertical-align: top;
}
#nav li {
	display: inline;
	float: left;
	padding: 0 9px 4px;
	margin: 0;
	background: transparent url('../img/nav.png') no-repeat center bottom;
}
#nav li.first {
	background-position: bottom left;
	padding-left: 34px;
}
#nav a {
	display: block;
	height: 22px;
	position: relative;
	overflow: hidden;
}
#nav a span {
	position: absolute;
	width: 100%;
	height: 100%;
	background: transparent url('../img/en/nav.png') no-repeat;
}
#nav li.home a {
	width: 106px;
}
#nav li.home.active span, #nav li.home a:hover span {
	background-position: 0 -22px;
}
#nav li.accounts a {
	width: 96px;
}
#nav li.accounts span {
	background-position: -122px 0;
}
#nav li.accounts.active span, #nav li.accounts a:hover span {
	background-position: -122px -22px;
}
#nav li.tags a {
	width: 56px;
}
#nav li.tags span {
	background-position: -234px 0;
}
#nav li.tags.active span, #nav li.tags a:hover span {
	background-position: -234px -22px;
}
#nav li.budget a {
	width: 75px;
}
#nav li.budget span {
	background-position: -305px 0;
}
#nav li.budget.active span, #nav li.budget a:hover span {
	background-position: -305px -22px;
}
#nav li.reports a {
	width: 82px;
}
#nav li.reports span {
	background-position: -396px 0;
}
#nav li.reports.active span, #nav li.reports a:hover span {
	background-position: -396px -22px;
}
#nav li.end {
	padding-right: 34px;
	background-position: right bottom;
}
/* END Navigation */

ul.accounts {
	font-size: 1.3em;
	padding-left: 0;
}
ul.accounts li {
	list-style: none;
}

/* BEGIN Topbox */
#topbox .content {
	background-position: right center;
}
#topbox .t {
	background-position: 0 -50px;	
}
#topbox .selector {
	margin-left: 40px;
	margin-top: -17px;
	max-width: 20em;
	float: left;
}
#topbox .selector .content {
	min-height: 0;
}
#topbox .selector .selectorContent {
	padding-top: 0.4em;
}
/* END Topbox */

/* BEGIN pagination */
.pagination ul {
	margin: 0;
	padding: 0;
	float: right;
}
.pagination ul li {
	display: inline-block;
	list-style: none;
	font-size: 1.3em;
	height: 16px;
	width: 16px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url('../img/pagination.png');
	text-indent: 2em;
}
.pagination ul li a {
	background-repeat: no-repeat;
	background-image: url('../img/pagination.png');
	display: block;
}
.pagination ul li.first {
	background-position: 0 -16px;
}
.pagination ul li.first a {
	background-position: 0 0;
}
.pagination ul li.first a:hover {
	background-position: 0 -32px;
}
.pagination ul li.back {
	background-position: -16px -16px;
}
.pagination ul li.back a {
	background-position: -16px 0;
}
.pagination ul li.back a:hover {
	background-position: -16px -32px;
}
.pagination ul li.forward {
	background-position: -32px -16px;
}
.pagination ul li.forward a {
	background-position: -32px 0;
}
.pagination ul li.forward a:hover {
	background-position: -32px -32px;
}
.pagination ul li.last {
	background-position: -48px -16px;
}
.pagination ul li.last a {
	background-position: -48px 0;
}
.pagination ul li.last a:hover {
	background-position: -48px -32px;
}
.pagination ul li.current {
	background-image: none;
	width: auto;
	height: auto;
	text-indent: 0;
}
/* END pagination */

/* BEGIN Content */
#content {
	clear: both;
	max-width: 1500px;
}
#content .maincontent {
	float: right;
	width: 75%;
	z-index: 5;
}
#content .maincontent h2 {
	font-size: 3em;
}
#content .sidebar {
	width: 22%;
	z-index: 1;
	padding-top: 50px;
}
#content .sidebar h3 {
	font-size: 2.5em;
	margin-bottom: 10px;
}
/* END Content */

/* BEGIN Dashboard */
#content .dash_column {
	width: 48%;
	padding: 0 5px;
	float: left;
}
#content .dash_column > div {
	border: 3px solid #d9d9d9;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 5px;
	background-color: #e8e8e8;
}
#content .dash_column > div > div {
	padding: 0 5px 5px;
}
#content .dash_column > div h3 {
	padding: 5px;
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	font-size: 1.4em;
	margin: 0;
	background: transparent url(../img/title-overlay.png) repeat-x 0 0;
}
/* END Dashboard */

/* BEGIN tags */
div.tagCloud { position: relative; }
div.tagCloud ol { margin: 0; text-align: center; font-size: 120%; padding: 0; }
div.tagCloud ol li { list-style: none; display: inline; margin: 3px; }
div.tagCloud ol li span { left: -9999px; position: absolute; width: 9990px; }
div.tagCloud ol li.tag-1 { font-size: 0.6em; }
div.tagCloud ol li.tag-2 { font-size: 0.8em; }
div.tagCloud ol li.tag-3 { font-size: 1em; }
div.tagCloud ol li.tag-4 { font-size: 1.2em; }
div.tagCloud ol li.tag-5 { font-size: 1.4em; }
div.tagCloud ol li.tag-6 { font-size: 1.6em; }
div.tagCloud ol li.tag-7 { font-size: 1.8em; }
div.tagCloud ol li.tag-8 { font-size: 2em; }
div.tagCloud ol li.tag-9 { font-size: 2.2em; }
div.tagCloud ol li.tag-10 { font-size: 2.4em; }
/* END tags */

div#add_transaction_holder {
	background: #E9E6DC;
	border: 1px solid #1D1D1D;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size: 0.8em;
	padding: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
div#add_transaction_holder ol {
	margin: 0;
	padding: 0;
}

/* BEGIN Footer */
#footer {
	clear: both;
	background: #7f7f7f;
	border-top: 4px solid #1a1a1a;
}
/* END Footer */

/* UI Tweaks */
#ui-datepicker-div { z-index: 999; }
 */