{% extends "basic_template.html" %}
{% load i18n %}

{% block title %}{% trans 'Login' %} &bull; {% endblock %}

{% block pagetitle %}{% trans 'Login' %}{% endblock %}

{% block body %}
	<div class="column">
		{% if form.errors %}
		<p>{% trans "Your username and password didn't match. Please try again." %}</p>
		{% endif %}
		
		<form method="post" action="{% url django.contrib.auth.views.login %}">{% csrf_token %}
		
		<ol class="form">
			<li>{{ form.username.label_tag }} {{ form.username }}</li>
			<li>{{ form.password.label_tag }} {{ form.password }}</li>
			<li><input type="submit" value="{% trans "Login" %}" class="button" /></li>
		</ol>
		
		<input type="hidden" name="next" value="{{ next }}" />
		</form>
	</div>
{% endblock body %}