{% extends 'overall_template.html' %}
{% load i18n %}
{% load money_overall %}
{% load accounts_tags %}
{% load tags %}

{% block title %}{{ account.name }} &bull; {% endblock %}

{% block pagetitle %}{{ account.name }}{% endblock %}

{% block extracss %}{{ transaction_form.media.css }}{% endblock %}
{% block extrajs %}{{ transaction_form.media.js }}{% endblock %}

{% block content %}
{% cloud account 0 10 %}

<table class="account horizontal">
	{% if account.number %}
	<tr>
		<th scope="row">{% trans "Account No." %}</th>
		<td>{{ account.number }}</td>
	</tr>
	{% endif %}
	{% if account.sort_code %}
	<tr>
		<th scope="row">{% trans "Account No." %}</th>
		<td>{{ account.sort_code }}</td>
	</tr>
	{% endif %}
	{% if account.track_balance %}
	<tr>
		<th scope="row">{% trans "Balance" %}</th>
		<td class="money{% if account.balance < 0 %} out{% endif %}">{% currency account.balance account.currency 1 %}</td>
	</tr>
	{% endif %}
</table>

{% show_transactions transactions %}

<form method="post" action="{{ request.url }}" id="add_transaction">
	<ol class="form">
		{{ transaction_form.as_ul }}
		<li><input type="submit" value="{% trans 'Save' %}" class="button" /></li>
	</ol>
</form>
{% endblock content %}