{% extends 'overall_template.html' %}
{% load i18n %}
{% load humanize %}
{% load money_overall %}

{% block title %}{{ account.name }} &bull; {% endblock %}

{% block pagetitle %}{{ account.name }}{% endblock %}

{% block content %}
<table class="account horizontal">
	{% if account.number %}
	<tr>
		<th scope="row">{% trans "Account No." %}</th>
		<td>{{ account.number }}</td>
	</tr>
	{% endif %}
	{% if account.sort_code %}
	<tr>
		<th scope="row">{% trans "Account No." %}</th>
		<td>{{ account.sort_code }}</td>
	</tr>
	{% endif %}
	{% if account.track_balance %}
	<tr>
		<th scope="row">{% trans "Balance" %}</th>
		<td>{{ account.balance|currency:account.currency }}</td>
	</tr>
	{% endif %}
</table>
<table class="transactions">
	<thead>
		<th>{% trans 'Payee' %}</th>
		<th>{% trans 'Money In' %}</th>
		<th>{% trans 'Money Out' %}</th>
		{% if account.track_balance %}<th>{% trans 'Balance' %}</th>{% endif %}
	</thead>
	<tbody>
		{% for t in transactions.object_list %}
		{% ifchanged t.date %}
		<tr>
			<th class="date" colspan="4">{{ t.date|naturalday|capfirst }}</th>
		</tr>
		{% endifchanged %}
		<tr class="{% cycle 'odd' 'even' %}">
			<td class="payee">
				<span class="sprite{% if t.mobile %} mobile" title="{% trans 'Entered from a mobile device' %}{% endif %}"></span>{{ t.payee.name }}
			</td>
			<td class="money in">{% if t.credit %}{{ t.amount|currency:account.currency }}{% endif %}</td>
			<td class="money out">{% if not t.credit %}{{ t.amount|currency:account.currency }}{% endif %}</td>
			{% if account.track_balance %}<td class="money balance">{{ account.balance_at }}</td>{% endif %}
		</tr>
		{% empty %}
		<tr class="odd">
			<td colspan="4">{% trans 'No transactions yet' %}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock content %}