{% load i18n %}
{% load humanize %}
{% load money_overall %}

{% pagination_links transactions %}

<table class="transactions">
	<tbody>
		{% for t in transactions.object_list %}
		{% ifchanged t.date %}
		<tr>
			<th class="date" colspan="4">{{ t.date|naturalday|capfirst }}</th>
		</tr>
		{% endifchanged %}
		<tr class="{% cycle 'odd' 'even' %}">
			{% include 'transaction_row.html' %}
		</tr>
		{% empty %}
		<tr class="odd">
			<td colspan="2">{% trans 'No transactions yet' %}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>