{% load i18n %}
{% load money_overall %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
	
		<title>{% block title %}{% endblock %}MoneyDJ</title>
	
		<link type="text/css" href="{{ MEDIA_URL }}/css/overall.css" rel="stylesheet"/>
		<link type="text/css" href="{{ MEDIA_URL }}/css/no-theme/jquery-ui-1.7.2.custom.css" rel="stylesheet"/>
		<link rel="icon" type="image/vnd.microsoft.ico" href="{{ MEDIA_URL }}/img/favicon.ico" />
		<link rel="apple-touch-icon" type="image/png" href="{{ MEDIA_URL }}/img/iphone-icon.png" />
		{% block extracss %}{% endblock %}
	</head>

	<body>
		<div id="wrap">
			<div id="header">
				<div class="main">
					<h1><a href="{% if user.is_authenticated %}{% url dashboard.views.index %}{% else %}{% url money.views.index %}{% endif %}"><span>MoneyDJ</span></a></h1>
					<div id="userbox">
					{% if user.is_authenticated %}
						<img src="{{ MEDIA_URL }}/img/user.png" alt=""/>
						<p>{% trans "Welcome back" %}, <strong>{{ user.username }}</strong></p>
						<ul>
							<li><a href="{% url moneyuser.views.profile %}"><span class="sprite profile"></span>{% trans "Profile" %}</a></li>
							<li><a href="{% url django.contrib.auth.views.logout_then_login %}"><span class="sprite logout"></span>{% trans "Logout" %}</a></li>
						</ul>
					{% else %}
						<ul>
							<li><a href="{% url django.contrib.auth.views.login %}"><span class="sprite login"></span>{% trans 'Login' %}</a></li>
							<li><a href="{% url moneyuser.views.register %}"><span class="sprite register"></span>{% trans 'Register' %}</a></li>
						</ul>
					{% endif %}
					</div>
				</div>
				<div id="nav">
					{% block nav %}{% endblock %}
					<div class="end"></div>
				</div>
			</div>
			<div id="body">
				{% block body %}{% endblock body %}
			</div>
			<div id="push"></div>
		</div>
		<div id="footer">
			<span class="copy">© 2010 Joe Ray</span>
			{% block footer %}
			{% endblock footer %}
		</div>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery.suggest.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}/js/global.js"></script>
		<script type="text/javascript" src="/jsi18n/"></script>
		{% block extrajs %}{% endblock %}
	</body>
</html>