{% extends "basic_template.html" %}
{% load i18n %}
{% load money_overall %}

{% block body %}
			<div id="topbox" class="box green">
				<div class="content">
					<div class="t"></div>
					<div class="clear"></div>
				</div>
				<div class="b"><div></div></div>
				<div class="selector box small green">
					<div class="content">
						<div class="t"></div>
						<div class="selectorContent">
						</div>
					</div>
					<div class="b"><div></div></div>
				</div>
			</div>
			<div id="content">
				<div class="box maincontent">
					<div class="content">
						<div class="t"></div>
						<h2>{% block pagetitle %}{% endblock %}</h2>
						{% block content %}{% endblock %}
					</div>
					<div class="b"><div></div></div>
				</div>
				{% if user.is_authenticated %}
				<div class="sidebar box">
					<div class="content">
						<div class="t"></div>
						<h3>{% block sidebar_title %}{% trans "Accounts" %}{% endblock %}</h3>
						{% block sidebar %}{% accounts_block user %}{% endblock %}
					</div>
					<div class="b"><div></div></div>
				</div>
				{% endif %}
			</div>
{% endblock body %}