{% extends 'overall_template.html' %}
{% load i18n %}
{% load humanize %}

{% block title %}{{ account.name }} &bull; {% endblock %}

{% block content %}
<h2>{{ account.name }}</h2>

<table class="transactions">
	<thead>
		<th>{% trans 'Payee' %}</th>
		<th>{% trans 'Money In' %}</th>
		<th>{% trans 'Money Out' %}</th>
		<th>{% trans 'Balance' %}</th>
	</thead>
	<tbody>
		{% for t in transactions %}
		{% ifchanged t.date %}
		<tr>
			<th class="date" colspan="4">{{ t.date|naturalday|capfirst }}</th>
		</tr>
		{% endifchanged %}
		<tr class="{% cycle 'odd' 'even' %}">
			<td>{{ t.payee.name }}</td>
			<td>{% if t.credit %}{{ t.amount }}{% endif %}</td>
			<td>{% if not t.credit %}{{ t.amount }}{% endif %}</td>
			<td></td>
		</tr>
		{% empty %}
		<tr>
			<td colspan="4">{% trans 'No transactions yet' %}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock content %}