{% extends "basic_template.html" %}
{% load i18n %}
{% load money_overall %}
{% load cache %}

{% block body %}
			<!--<div id="topbox" class="box green">
				<div class="content">
					<div class="t"></div>
					<div class="clear"></div>
				</div>
				<div class="b"><div></div></div>
				<div class="selector box small green">
					<div class="content">
						<div class="t"></div>
						<div class="selectorContent">
						</div>
					</div>
					<div class="b"><div></div></div>
				</div>
			</div>-->
			<div id="content">
				<div class="box maincontent">
					<div class="content">
						<div class="t"></div>
						<h2>{% block pagetitle %}{% endblock %}</h2>
						{% block content %}{% endblock %}
					</div>
					<div class="b"><div></div></div>
				</div>
			</div>
{% endblock body %}

{% block nav %}
				<ul>
					<li class="home first"><a href="{% url dashboard.views.index %}"><span></span>{% trans "Dashboard" %}</a></li>
					<li class="accounts">
						<a href="{% url accounts.views.index %}"><span></span>{% trans "Accounts" %}</a>
						{% cache 500 accounts_block user.username %}{% accounts_block user %}{% endcache %}
					</li>
					<li class="reports"><a href="{% url reports.views.index %}"><span></span>{% trans "Reports" %}</a></li>
					<li class="tags end"><a href="{% url tags.views.index %}"><span></span>{% trans "Tags" %}</a></li>
				</ul>
{% endblock nav %}
